<div class="container">
    <h1 class="text-center">Mi carrito</h1>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <table class="table">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th scope="col">Articulo</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let purchase of (cartList$ | async)" class="text-center">
                        <td class="align-middle">
                            <img src="../assets/img/1.jpg" class="card-img-top cardProduct" /> {{purchase.name}}
                        </td>
                        <td class="align-middle">{{purchase.price | currency}}</td>
                        <td class="align-middle">{{purchase.quantity}}</td>
                        <td class="align-middle">{{purchase.price * purchase.quantity | currency}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <p class="h2 mr-4">Total {{total | currency}}</p>
                <!-- <button class="btn btn-primary">Finalizar compra</button> -->
            </div>

        </div>
    </div>
</div>